.sidebar{
    background-color: black;
    width: 200px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    box-sizing: border-box;
    padding: 0.2em;
    a{
        cursor: pointer;
        text-decoration: none;
        color: white;
        display: block;
        padding: 0.5em 0.5em;
        border-radius: 0.4em;
    }
    a:hover{
        background-color: rgb(206, 182, 149);
        color: azure;
    }
}
.content{
    margin-right: 200px;
    padding: 0.4em;
}
