@if (mystate=='list') {
<div>
    <button (click)="onAdd.emit()">افزودن</button>
</div>
<table>
    <thead>
        <tr>
            @for (col of columns; track $index) {
                <th>{{col.title}}</th>
            }
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @for (item of data; track $index) {
        <tr>
            @for (col of columns; track $index) {
            <td>
                {{item[col.field]}}
            </td>
            }
            <td>
                <button (click)="onEdit.emit(item)">ویرایش</button>
                <button (click)="onRemove.emit(item)">حذف</button>
            </td>
        </tr>
        }
    </tbody>
</table>
}
@else {
     @if(mystate=='remove'){
    <div>
        آیا از حذف این گزینه اطمینان دارید؟
    </div>
    }
<form (ngSubmit)="onSave.emit()">
    <ng-content></ng-content>
    <div>
        <button type="submit">تایید</button>
        <button (click)="onCancel.emit()" type="button">انصراف</button>
    </div>
</form>
}