table{
    width: 100%;
    border-collapse: collapse;
    tr{
        border-bottom: 1px solid rgb(106, 106, 196);
    }
    tr:nth-of-type(2n+1){
        background-color: rgb(157, 187, 211);
    }
    td,th{
        text-align: right;
        padding: 0.3em;
    }
    th{
        background-color: rgb(80, 120, 147);
        color: white;
    }
    td:last-of-type{
        text-align: left;
    }
}
button{
    background-color: rgb(110, 182, 185);
    color: azure;
    padding: 0.2em 0.4em;
    border: none;
    border-radius: 0.4em;
    margin: 0.2em;
}